header{
  background: url("../assets/elves.jpg");
  background-position: bottom;
  position: fixed;
  width: 100%;
  height: 400px;
}
body {
  background: #C9E0E6;
  font-family: 'Bungee', cursive;
}

h1 {
  font-size: 70px;
  color: #ffffff;
  text-shadow: 2px 2px 6px red, 2px 2px 6px #ffffff;
}

.thegift {
  background: url("../assets/conveyorbelt.gif");
  background-size: auto;
  background-repeat: no-repeat;
}

.centertain {
  display: flex;
  background-position: center;
  background-size: contain;
  color: green;
  text-align: center;
  border: solid 2px white;
  box-shadow: 2px 2px 10px red;
}

.centertain p {
  font-size: 25px;
  color: red;

}

.img-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 0;
}

.img-container > p {
  margin: 15px auto;
  font-size: 15px;
}

.move {
  align-self: center;
  width: 300px;
  height: 40px;
  border-radius: 15px;
  outline: none;
}


#theGift {
  width: 160px;
  height: 130px;
  position: relative;
  left:0;
  top:10px;
}

#score-board {
  width: 350px;
  height: 200px;
  border: solid 2px transparent;
  background-image: url("../assets/lightboarder.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  align-self: center;
  text-align: center;

}

#score-board p {
  margin: 25%;
  font-size: 30px;
}


.powerUp {
  border: none;
  outline: none;
  background: #C9E0E6;
}

#sleigh {
  align-self: flex-end;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 800px;
  top: 200px;
}

#gumdrop {
  width: 110px;
  height: 100px;
}

#reindeer{
  width: 111px;
  height: 113px;
}

#tree {
  width: 90px;
  height: 120px;
}

#santa {
  width: 100px;
  height: 130px;
}
